{% extends "layout.njk" %}

{% block content %}
    <main>
        <div class="logo">
            <img src="/assets/logo.png" alt="Logo Rocketseat">
            <h1>Rocketseat</h1>
        </div>
        <div class="details">
            <p>
                Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀
            </p>
            <p>
                Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso.
            </p>
            <p>
                Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador.
            </p>
            
        </div>

        <div class="dev">
            <img src="/assets/icons8-javascript.svg" alt="Javascript">
            <img src="/assets/icons8-nativo-de-reagir.svg" alt="React">
        </div>
    </main>

    <footer>
        <a href="https://pt-br.facebook.com/rocketseat/" target="__blank">
            <img src="/assets/facebook.svg" alt="Facebook">
        </a>
        <a href="https://br.linkedin.com/school/rocketseat/" target="__blank">
            <img src="/assets/linkedin.svg" alt="Linkedin">
        </a>
        <a href="https://github.com/Rocketseat">
            <img src="/assets/github.svg" alt="Github" target="__blank">
        </a>
    </footer>
{% endblock %}
