<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Sobre</title>
    {%endblock head %}
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <a href="/portfolio">Sobre</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="__blank">Comunidade</a>
        <a href="malito: oi@rocketseat.com.br">Email</a>
        <a href="tel: +5547992078767">Telefone</a>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>