{% extends "layout.njk" %}

{% block head %}
<title>404 Page Not Found</title>
{% endblock head %}

{% block content %}
    <div class="not-found">
    <img src="https://neilpatel.com/wp-content/uploads/2019/05/ilustracao-sobre-o-error-404-not-found.jpeg" alt="Página não encontrada">
    </div>
{% endblock content %}
