{% extends "layout.njk" %}

{% block content %}
    
    <header>
        <div class="links">
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
            <a href="malito: oi@rocketseat.com.br">Email</a>
            <a href="tel: +5547992078767">Telefone</a>
            <a href="/courses">Conteúdos</a>
        </div>
    </header>

    <main>
        <section class="about">
            <div class="logo-name">
                <img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmyAP5KjYSBu51jnv90MIX9wDMtmNrUfSrCz6dYyb-LbYjFHVV1GAshARFtyEi-fZRzb7PHccU52OD7H3r3t7zWR90FGjhMCj2qCWIqvJTNbmM_8kdg-WNUssDaHkgBgnST22tstz1PUz2mVxs4cY-jnFmsvCCNhpQmsul18_FbsKnklXfo1GsYdzsOlKcyssSur0QSXFyU0np8t8mh3NXvqu2f_vTp-8OF-yyIUq6DiZ4zsVDpd95mjuTjHM-MHZN-3Fkj_gbJ32oNkqHjTmd9fN10B_Mwp7WVeYYdV_1eGkHZ_-dVoPy3mPspQfpRTue0ST7lHA9P6il_saFoPcszcI__qr02QH5Kp-FbNPzQ2hAsyODdwR6RePgpWzOBH69-FPFRmYcnN4BrGf13SQlf8XlXhdxn-xZxouCMcFbOyBvhXgbspdFRIE&usqp=CAU" alt="Logo Rocketseat"><br>
                <h1>Rocketseat</h1>
            </div>
            <div class="description">
                <h2>Sobre</h2>
                <p>
                    Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores em busca do próximo nível 🚀 <br>

                    Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a chave para o sucesso. <br>

                    Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web e mobile, e dessa forma avançar para o próximo nível como programador. <br>
                </p>
            </div>
        </section>


        <h2>Principais tecnologias utilizadas</h2>
        
        <ul>
            <li>
                <img src="https://img2.gratispng.com/20180527/oio/kisspng-javascript-programming-language-ajax-5b0b285b692210.3071468515274578834306.jpg" alt="Logo Javascript">
            </li>
            <li>
                <img src="https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png" alt="Logo NodeJs">
            </li>
            <li>
                <img src="https://img2.gratispng.com/20180820/pql/kisspng-react-logo-redux-webpack-babel--5b7b7258327b51.9184659615348168562068.jpg" alt="Logo ReactJS">
            </li>
            <li>
                <img src="https://miro.medium.com/fit/c/1838/551/1*rszSEfCsKDEwPhFk2Zvmhw.png" alt="Logo React Native">
            </li>
        </ul>
                
    </main>

    <footer>
        <div class="links"> 
            <a href="https://github.com/Rocketseat" target="_balnk">
                <img src="/assets/github.png" alt="">
            </a>
            <a href="https://www.facebook.com/rocketseat/" target="_balnk">
            <img src="/assets/facebook.png" alt="Ícone do facebook">
            </a>
            <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">
                <img src="/assets/linkedin.png" alt="Ícone do Linkedin">
            </a>
            <a href="https://www.instagram.com/rocketseat_oficial/" target="_balnk">
                <img src="/assets/instagram.png" alt="">
            </a>
        </div>
    </footer>

{% endblock content %}    
